.h1 {
    color: #c9ff89;
    text-align: center;
}

.nav {
    margin-right: 20px;
    float: right;
}

body {
    width: 800px;
    margin: 0 auto;
    background-color: #292929;
    color: #ffffff;
    font-family: arial, sans-serif;
}

footer {
    text-align: center;
}

#content div {
    border-bottom: #c9ff89 groove 2px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    /* can be written margin : 0 20px 20px; */
    line-height: 25px;
}

.p {
    text-indent: 30px;
}

.work-xp {
    border: none;
    border-collapse: collapse;
    margin: 20px 1px;
    width: 100%;
}

.work-xp thead {
    font-weight: bold;
    background-color: #398751;
}

.work-xp tr:nth-child(1n) {
    font-weight: bolder;
}

.work-xp tr:nth-child(2n) {
    background-color: #c9ff89;
    color: #000000;
}

.work-xp tr {
    height: 30px;
}

.work-xp tr td {
    text-align: center;
}

.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic {
    display: inline;
    margin: -25% auto 0;
    height: auto;
    width: 100%;
}

.my-name {
    font-weight: 800;
    color: #c9ff89;
}

a {
    color: #c9ff89;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p::first-letter {
    font-weight: bold;
    color: #c9ff89;
    font-size: 30px;
}

html {
    background-image: url(back.jpg);
}