---
---

@import "{{ site.theme }}";

body {
    background-image: none;
    background-color: #142d37;
}

header{
    .container {
        margin: 0 auto 25px;
        h1 {
            &:before {
                content : '';
            }
        }
        img {
            width : 180px;
            float: right;
        }
    }
}

h2 {
    color : #32ffc3;
}

